
<div class="login-container">
  <h2>Login</h2>
  <%= form_with url: login_path do |f| %>
    <div class="form-group">
      <%= f.label :email, class: 'sr-only' %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, class: 'sr-only' %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Passwort' %>
      </div>
    </div>
    <%= f.submit 'LOGIN', class: 'btn btn-primary btn-block' %>
  <% end %>
  <div class="text-center mt-3">
    <%= link_to 'Registrieren', signup_path, class: 'register-page' %>
  </div>
</div>