<h1>Eintrag bearbeiten</h1>

<%= form_with(model: @entry, local: true) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <%= form.submit 'Aktualisieren' %>
<% end %>

<%= link_to 'Zurück', entries_path %>

<div class="guestbook-container">
  <header class="guestbook-header">
    <h1 class="guestbook-title">Gästebuch</h1>
    <%= link_to user_path(current_user), class: 'profile-icon' do %>
      <i class="fas fa-user"></i>
    <% end %>
  </header>

  <div class="entry-frame">
    <% if @current_entry %>
      <%= image_tag @current_entry.user.photo if @current_entry.user.photo.attached? %>
      <h2><%= @current_entry.user.name %></h2>
      <p><%= @current_entry.user.email %></p>
      <p><%= @current_entry.created_at.strftime('%d.%m.%y') %></p>
      <p>Nachricht:</p>
      <p class="entry-message"><%= @current_entry.message %></p>
    <% else %>
      <p>Keine Einträge vorhanden.</p>
    <% end %>
  </div>

  <div class="navigation">
    <%= link_to '<', entry_path(@entries.second), class: 'nav-arrow' if @entries.count > 1 %>
    <%= link_to '>', entry_path(@entries.third), class: 'nav-arrow' if @entries.count > 2 %>
  </div>
</div>