<h1>Meine Einträge</h1>

<%= link_to 'Neuer Eintrag', new_entry_path, class: 'blue-button' %>

<% @entries.each do |entry| %>
  <div class="entry">
    <h2><%= entry.title %></h2>
    <p><%= entry.content %></p>
    <%= link_to 'Bearbeiten', edit_entry_path(entry) %>
    <%= link_to 'Löschen', entry_path(entry), method: :delete, data: { turbo_method: :delete, confirm: 'Sind Sie sicher?' } %>
  </div>
<% end %>