<h1>Neuer Eintrag</h1>
<%= form_with(model: @entry, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>
  <div>
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>
  <%= form.submit 'Eintrag erstellen' %>
<% end %>