<div class="profile-container">
  <nav>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Meine Einträge', entries_path %>
    <%= link_to 'Logout', logout_path, method: :delete %>
  </nav>

  <h1>Mein Profil</h1>

  <% if @user %>
    <%= form_for @user, html: { multipart: true } do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :photo, 'Profilbild' %>
        <%= f.file_field :photo, class: 'form-control' %>
      </div>
      <% if @user.photo.attached? %>
        <div class="profile-image">
          <%= image_tag @user.photo %>
        </div>
      <% end %>
      <%= f.submit 'Aktualisieren', class: 'btn btn-primary' %>
    <% end %>
  <% else %>
    <p>Benutzer nicht gefunden. <%= link_to 'Zum Login', login_path %></p>
  <% end %>
  <%= link_to 'Zurück zur Hauptseite', root_path, class: 'btn btn-link' %>
</div>