<div class="profile-container">
  <h2>Mein Profil</h2>
  <% if @user %>
    <%= form_for @user, html: { multipart: true } do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :photo, 'Profilbild' %>
        <%= f.file_field :photo, class: 'form-control' %>
      </div>
      <%= f.submit 'Aktualisieren', class: 'btn btn-primary' %>
    <% end %>
    
    <%= button_to 'Ausloggen', logout_path, method: :delete, class: 'btn btn-danger mt-3' %>
  <% else %>
    <p>Benutzer nicht gefunden. <%= link_to 'Zum Login', login_path %></p>
  <% end %>
  <%= link_to 'Zurück zur Hauptseite', root_path, class: 'btn btn-link mt-3' %>
</div>